[submodule "study_NLW_4_React_Move-it"]
	path = study_NLW_4_React_Move-it
	url = git@github.com:KesleyDavid/study_NLW_4_React_Move-it.git
[submodule "study_Ignite_React"]
	path = study_Ignite_React
	url = git@github.com:KesleyDavid/study_Ignite_React.git
[submodule "study_Ignite_ReactNative"]
	path = study_Ignite_ReactNative
	url = git@github.com:KesleyDavid/study_Ignite_ReactNative.git
[submodule "study_Ignite_Node"]
	path = study_Ignite_Node
	url = git@github.com:KesleyDavid/study_Ignite_Node.git
[submodule "study_Descomplicando_Docker"]
	path = study_Descomplicando_Docker
	url = git@github.com:KesleyDavid/study_Descomplicando_Docker.git
[submodule "study_NLW_5_ReactNative_PlantManager"]
	path = study_NLW_5_ReactNative_PlantManager
	url = git@github.com:KesleyDavid/study_NLW_5_ReactNative_PlantManager.git
[submodule "study_NLW_5_React_Podcastr"]
	path = study_NLW_5_React_Podcastr
	url = git@github.com:KesleyDavid/study_NLW_5_React_Podcastr.git
[submodule "study_NFT_NBA"]
	path = study_NFT_NBA
	url = git@github.com:KesleyDavid/study_NFT_NBA.git
[submodule "study_NLW_6_React_Letmeask"]
	path = study_NLW_6_React_Letmeask
	url = git@github.com:KesleyDavid/study_NLW_6_React_Letmeask.git
[submodule "study_Descomplicando_Kubernetes"]
	path = study_Descomplicando_Kubernetes
	url = git@github.com:KesleyDavid/study_Descomplicando_Kubernetes.git
[submodule "study_NFT_contract"]
	path = study_NFT_contract
	url = git@github.com:KesleyDavid/study_NFT_contract.git
[submodule "study_Descomplicando_Istio"]
	path = study_Descomplicando_Istio
	url = git@github.com:KesleyDavid/study_Descomplicando_Istio.git
[submodule "study_Descomplicando_Gitlab"]
	path = study_Descomplicando_Gitlab
	url = git@github.com:KesleyDavid/study_Descomplicando_Gitlab.git
[submodule "study_db_json"]
	path = study_db_json
	url = git@github.com:KesleyDavid/study_db_json.git
[submodule "study_NLW"]
	path = study_NLW
	url = git@github.com:KesleyDavid/study_NLW.git
[submodule "study_Ignite_Lab"]
	path = study_Ignite_Lab
	url = git@github.com:KesleyDavid/study_Ignite_Lab.git
[submodule "study_AWS_certifications"]
	path = study_AWS_certifications
	url = git@github.com:KesleyDavid/study_AWS_certifications.git
